<launch>

<rosparam file="$(find updated_urdf_model_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="updated_urdf_model" args="Revolute 4_position_controller Revolute 5_position_controller Revolute 6_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/updated_urdf_model/joint_states"/>
</node>

</launch>